streamlit

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters

langchain-google-genai

sentence-transformers
faiss-cpu

torch
torchvision
transformers
accelerate
